# Database connection (SQLite by default for dev/testing)
DATABASE_URL="file:./dev.db"

# JWT Auth Secret for Admin & Student Token Generation
JWT_SECRET="amardeutsch_super_secret_jwt_key_2026_secure"
